html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-columns: 15vw 65vw 20vw;
    grid-template-rows: 10vh 90vh;
    gap: 0.25vw;
    border: solid;
}

.header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    background-color: #0B1215;
    color: white;
    display: flex;
    align-items: center;
    font-size: 3em;
    padding-left: 2vw;
}

.sideBar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: block;
    background-color: #0B1215;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding-top: 10vh;
}

.listContainer {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.page, .pageHolder {
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
    max-height: 80vh;
    overflow: auto;
}

.listItem {
    display: flex;
    height: 5vh;
    width: 100%;
    justify-content: space-between;
}

.sideBar button {
    border: none;
    background-color: #0B1215;
    color: white;
    font-size: 2em;
    padding: 0;
    margin-right: auto;
    margin-left: 2vw;
}

button:hover {
    cursor: pointer;
    padding-left: 0.5vw;
}

.projectsContainer {
    font-size: 2.5em;
    margin-right: auto;
    margin-left: 2vw;
}

form {
    display: none;
}

.formPopup, .detailsDisplay {
    display: none;
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 9999;
}

.detailsDisplay {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .sideBar {
        display: none;
    }
    .tab-bar {
        display: block;
        grid-column: 3 / 4;
        background-color: #0B1215;
        color: white;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .tab-bar svg {
        height: 100%;
    }
    .header {
        grid-column: 1 / 3;
    }
    .listContainer {
        grid-column: 1 / 4;
    }
    body {
        gap: 0;
    }
}