html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 5vh 95vh;
    border: solid;
}

.sidebar {
    border: solid;
    display: flex;
    flex-direction: column;
    padding: 10% 5%;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.main {
    border: solid;
    padding: 4%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.project {
    font-size: 2rem;
    border: none;
    background-color: white;
}

button {
}

.addButtonContainer {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    padding-left: 3vw;
    border: solid;
}

.addButton {
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
}

.expandedItem, .formlist {
    position: fixed;
    top: 50%;     
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 999; 
    padding: 5%;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border: solid black;
}